---
# tasks file for filebeat

- name: Create group
  group:
    name: "{{ filebeat_group }}"

- name: Create user
  user:
    name: "{{ filebeat_user }}"
    group: "{{ filebeat_group }}"

- name: Download rpm
  get_url:
    url: "{{ filebeat_rpm_url }}"
    dest: "/tmp/filebeat-{{ filebeat_version }}.rpm"

- name: Install
  yum:
     name: "/tmp/filebeat-{{ filebeat_version }}.rpm"
     state: present

- name: Create configuration file
  template:
    src: "filebeat.yml.j2"
    dest: "{{ filebeat_config_dir }}/filebeat.yml"
    mode: 0644

- name: Ensure log directory exists
  file:
    path: "{{ filebeat_log_dir }}"
    state: directory
    group: "{{ filebeat_group }}"
    owner: "{{ filebeat_user }}"
    mode: 0755

- name: Ensure supervisord config directory exists
  file:
    path: "{{ supervisord_config_dir }}"
    state: directory
    mode: 0755
  when: filebeat_supervisor_enabled

- name: Install supervisord config script
  template:
    src: "supervisor.d_filebeat.conf.j2"
    dest: "{{ supervisord_config_dir }}/filebeat.conf"
    owner: root
    group: root
    mode: 0644
  when: filebeat_supervisor_enabled
  notify: supervisord update filebeat
